<div class="toast-global-container">
  <div 
    *ngFor="let toast of toasts$ | async" 
    class="toast-card" 
    [ngClass]="toast.type"
    (click)="removeToast(toast.id)"
  >
    <!-- Icon Selector based on type -->
    <div class="toast-icon-zone">
      <!-- Success Icon -->
      <svg *ngIf="toast.type === 'success'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
      </svg>
      <!-- Error Icon -->
      <svg *ngIf="toast.type === 'error'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
      <!-- Info/Warning Icon -->
      <svg *ngIf="toast.type === 'info' || toast.type === 'warning'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
      </svg>
    </div>

    <div class="toast-message-content">
      {{ toast.message }}
    </div>

    <button class="toast-close-action">&times;</button>
  </div>
</div>