<div class="auth-card-content">
  <div class="header">
    <h2>Create new password</h2>
    <p>Your new password must be different from previous used passwords.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    
    <div class="password-container">
      <app-text-input
        label="New Password"
        type="password"
        formControlName="newPassword"
        [errorMessage]="passwordError">
      </app-text-input>
      <app-password-strength [password]="form.get('newPassword')?.value || ''"></app-password-strength>
    </div>

    <app-text-input
      label="Confirm Password"
      type="password"
      formControlName="confirmNewPassword"
      [errorMessage]="form.errors?.['mismatch'] && form.get('confirmNewPassword')?.touched ? 'Passwords do not match' : ''">
    </app-text-input>

    <app-button 
      type="submit" 
      variant="accent" 
      [loading]="isLoading" 
      class="full-width-btn">
      Reset Password
    </app-button>
  </form>

  <div class="footer-text">
    <a routerLink="/auth/login" class="back-link">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
      Back to log in
    </a>
  </div>
</div>
