<div class="cyber-pagination-container">
  
  <!-- Info Status Text -->
  <span class="pagination-meta">
    {{ 'COMMON.PAGINATION.SHOWING_PAGE' | translate }} <span class="highlight">{{ currentPage }}</span> {{ 'COMMON.PAGINATION.OF' | translate }} {{ totalPages }}
  </span>

  <!-- Navigation Control Buttons -->
  <div class="pagination-controls">
    
    <!-- Previous Arrow -->
    <button 
      class="btn-nav" 
      [disabled]="currentPage === 1" 
      (click)="goToPage(currentPage - 1)">
      &larr; <span class="nav-text">{{ 'COMMON.PAGINATION.PREV' | translate }}</span>
    </button>

    <!-- Page Numbers Loop -->
    <ng-container *ngFor="let page of visiblePages">
      <span *ngIf="page === '...'" class="pagination-ellipsis">&hellip;</span>
      <button 
        *ngIf="page !== '...'"
        class="btn-page-num" 
        [class.active]="page === currentPage"
        (click)="goToPage(page)">
        {{ page }}
      </button>
    </ng-container>

    <!-- Next Arrow -->
    <button 
      class="btn-nav" 
      [disabled]="currentPage === totalPages || totalPages === 0" 
      (click)="goToPage(currentPage + 1)">
      <span class="nav-text">{{ 'COMMON.PAGINATION.NEXT' | translate }}</span> &rarr;
    </button>

  </div>

</div>