<div class="pitch-tactical-container">
  <div class="pitch-aurora">
    <div class="pitch-blob pb1"></div>
    <div class="pitch-blob pb2"></div>
    <div class="pitch-blob pb3"></div>
  </div>
  <div class="pitch-glow-aura"></div>

  <div class="pitch-field-outline">
    <div class="pitch-center-line"></div>
    <div class="pitch-center-circle"></div>
    <div class="pitch-center-dot"></div>

    <div class="pitch-penalty-box left">
      <div class="pitch-goal-box"></div>
      <div class="pitch-penalty-dot"></div>
    </div>

    <div class="pitch-penalty-box right">
      <div class="pitch-goal-box"></div>
      <div class="pitch-penalty-dot"></div>
    </div>
  </div>
</div>