<div class="strength-wrapper" *ngIf="password">
  <div class="bars">
    <div class="bar" [style.background-color]="strength >= 1 ? color : ''" [class.filled]="strength >= 1"></div>
    <div class="bar" [style.background-color]="strength >= 2 ? color : ''" [class.filled]="strength >= 2"></div>
    <div class="bar" [style.background-color]="strength >= 3 ? color : ''" [class.filled]="strength >= 3"></div>
    <div class="bar" [style.background-color]="strength >= 4 ? color : ''" [class.filled]="strength >= 4"></div>
  </div>
  <span class="label" [style.color]="color">{{ label }}</span>
</div>
